<%- include ../partials/header.ejs %>

<section>
	<h1>Bewerk uw profiel</h1>

	<% if(feedback){ %>
		<div class="feedback <%= state %>">
			<%= feedback %>
		</div>
	<% } %>

	<form action="<%= postUrl %>" method="post">
		<label for="field_username">
			Username (momenteel '<%= user.username %>'):
			<input type="text" id="field_username" name="username" value="">
		</label>
		<label for="field_password">
			Password (momenteel '<%= user.password %>'):
			<input type="password" id="field_password" name="password" value="">
		</label>

		<button type="submit">Bewerk gegevens</button>
	</form>

	<a class="back" href="/profile">Terug</a>
</section>

<%- include ../partials/footer.ejs %>