<%- include ../partials/header.ejs %>

<section>
	<h1><%= title %></h1>

	<% if(feedback){ %>
		<div class="feedback <%= state %>">
			<%= feedback %>
		</div>
	<% } %>

	<ul class="options">
		<li><a href="/profile/edit/<%= ID %>">Bewerk profiel</a></li>
		<li><a href="/profile/logout">Log uit</a></li>
	</ul>

	<a class="back" href="/board">Terug</a>
</section>

<%- include ../partials/footer.ejs %>